//fonts
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Francois+One|Montserrat&display=swap');

$font1: 'Montserrat', sans-serif;
$font2:'Francois One', sans-serif;
$font3: 'Archivo Black', sans-serif;

//colors
$white: #FFFFFF;
$white2: rgba(255,255,255,.2);
$grey: rgb(170, 190, 204);
$black: #000;
$black2: rgba(0,0,0,.2);
$black3: rgba(0,0,0,.5);
$cor1: rgba(255,0,80,.9);


//break-points

$small: 500px;
$medium: 768px;
$large: 1200x;